.aritcle_eyecatch{
  width: 100%;
  height: 420px;
  background-size: cover;
}

.article_eyecatch_title{
  margin: 0 auto;
  text-align: center;
  padding-top: 15.5%;
}

.article_row{
  overflow: hidden;
  margin: 0;
  padding: 30px 20px 0px 46.277px;
}

.view_headline{
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-top: 2px solid #CCFFFF;
  border-bottom: 2px solid #CCFFFF;
}

.article_text{

}
